* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.content {
  max-width: calc(100% - 270px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* Commit */
a {
  text-decoration: none;
}
.btn {
  padding: 12px 24px;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 999px;
  background-color: #171100;
}
.master {
  height: 10000px;
  width: 100%;
}
.header.fixed {
  position: sticky;
  top: -32px;
  z-index: 1;
}
/* ####HEADER### */
.header {
  background-color: #fffcf4;
}
.navbar {
  padding-top: 64px;
  padding-bottom: 32px;
}
.header .navbar {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav li {
  padding: 0 21px;
}
.nav li:hover > a:not(.font) {
  color: #333;
  font-weight: 600;
}
.nav li > a {
  color: #5f5b53;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.navbar li .font {
  position: relative;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  color: #171100;
}
.navbar li .font::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
  bottom: 0;
}
.btn-header {
  padding: 11px 41px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 49px;
}
.btn-header:hover {
  opacity: 0.6;
}
/* Hero */
.hero {
  padding-top: 32px;
  padding-bottom: 65px;
  background-color: #fffcf4;
}
.hero .hero-main {
  display: flex;
}
.hero-left,
.hero-right {
  flex: 1;
}
.hero-left {
  padding-right: 130px;
}
.hero-left .media-img > img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero-left .media-img {
  position: relative;
}
.hero-left .hero-summary {
  position: absolute;
  background-color: #ffffff;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  bottom: 48px;
  left: 300px;
  padding: 24px 63px 24px 24px;
}
.hero-left .hero-summary .item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.hero-left .hero-summary .icon {
  margin-right: 16px;
}
.hero-left .hero-summary .info > p {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.hero-left .hero-summary .info > h2 {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
.hero-main .hero-right {
  padding-top: 80px;
}
.hero-main .hero-right .title {
  font-family: Sen;
  color: #171100;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.02em;
  margin-bottom: 22px;
}
.hero-main .hero-right p {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  margin-bottom: 38px;
}
.hero-main .hero-right .action {
  display: flex;
  align-items: center;
}
.hero-right .action .btn-hero {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fffcf4;
  cursor: pointer;
}
.hero-right .action .btn-y {
  padding: 17px 33px;
  border-radius: 32px;
  background-color: #ffb900;
}
.hero-right .action .btn-y > span {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.hero-right .action .btn-hero > span {
  display: inline-block;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-right .action .btn-hero > img {
  transform: translateY(10%);
}
.hero-right .Recent {
  margin-top: 48px;
  margin-bottom: 0 !important;
}
.hero-right .strong {
  display: flex;
}
.hero-right .strong > p > strong {
  font-family: Sen;
  color: #171100;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
}
/* Popular */
.popular {
  padding-top: 200px;
}
.popular-main .popular-course h2 {
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
}
.popular-decs {
  margin-top: 16px;
}
.popular-main .popular-decs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-main .popular-decs p {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  height: 60px;
  width: 458px;
}
.popular-main .popular-decs .btn-list > img:first-child {
  margin-right: 18px;
  box-shadow: 0px 18px 36px 0px #0000000d;
}
.popular-main .price-service-list {
  display: flex;
  margin-top: 55px;
}
.popular-main .price-service-list .price-service-item > img {
  width: 370px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.price-service-item {
  margin-right: 30px;
}
.price-service-item .info {
  width: 370px;
  padding: 16px 24px 24px 24px;
  border-radius: 0 0 12px 12px;
  box-shadow: 0px 18px 36px 0px #0000000d;
}
.price-service-item .info .title-star {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.price-service-item .info .title-star > h3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-camp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.price-service-item .info .star span {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}
.price-service-item .info p {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-camp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.price-service-item .price {
  display: flex;
  justify-content: space-between;
}
.price-service-item .price > strong {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
.price-service-item .price .action {
  cursor: pointer;
}
.price-service-item .price .action:hover {
  opacity: 0.5;
}
/* Feedback */
.feedback {
  background-color: #2e2100;
}
.feedback-main {
  display: flex;
  padding: 96px 0 96px 0;
  margin-top: 200px;
}
.feedback-main .feedback-client {
  display: flex;
  flex-direction: column;
}
.feedback-client,
.feedback-decs {
  flex: 1;
}
.feedback-main .feedback-client img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 18px;
}
.feedback-main .feedback-client strong {
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  color: #f7f7f7;
  margin-bottom: 4px;
}
.feedback-main .feedback-client p {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  margin-bottom: 28px;
}
.feedback-client .list-dot {
  display: flex;
  width: 30px;
  justify-content: space-evenly;
}
.feedback-client .list-dot .dot {
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
}
.feedback-client .list-dot .dot-hight {
  background-color: #ffb900;
}
.feedback-decs p {
  color: #ffffff;
  height: 160px;
  width: 740px;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  margin-left: 30px;
}
/* Features */
.features {
  margin-top: 200px;
}
.features-main {
  display: flex;
  flex-direction: column;
}
.features-main .features-first {
  display: flex;
}
.features-main .features-img {
  display: flex;
  width: 570px;
  height: 438px;
  margin-right: 130px;
}
.features-main .features-img > img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
}
.features-main .features-img > img {
  margin-bottom: auto;
}
.features-main .features-img > img:first-child {
  margin-right: 30px;
  margin-top: 0;
  margin-top: auto;
}
.features-main .features-decs h2 {
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
  margin-bottom: 16px;
}
.features-main .features-decs p {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}
.features-main .features-decs p {
  margin-bottom: 32px;
}
.features-main .features-decs p:first-of-type {
  margin-bottom: 16px;
}
.features-main .action .btn-features {
  display: inline-block;
  padding: 11px 37px;
  background: #ffb900;
  border-radius: 26px;
  text-align: center;
}
.features-main .action span {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  color: #ffffff;
}
.features-main .action:hover {
  opacity: 0.6;
}
/* features second */
.features-second {
  display: flex;
  margin-top: 200px;
}
.features-decs,
.features-img {
  flex: 1;
}
.features-second .features-decs {
  width: 570px;
  height: 298px;
}
.features-second .features-decs h2 {
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #171100;
  margin-bottom: 16px;
}
.features-second .features-decs p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #5f5b53;
}
.features-second .action {
  margin-top: 32px;
}
.features-second .action:hover {
  opacity: 0.7;
}
.features-second .action .btn-features-2 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  padding: 12px 32px 10px 32px;
  background: #ffb900;
}
.features-second .features-img {
  margin-left: 130px;
}
.features-second .features-img img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
  box-shadow: 0px 18px 36px 0px #0000000d;
}
/* Blog */
.blog {
  margin-top: 200px;
  padding-top: 96px;
}
.blog .dot-hight {
  display: flex;
  justify-content: space-evenly;
  margin-top: 38px;
  width: 30px;
  height: 6px;
}
.blog .dot-hight .dot {
  width: 6px;
  height: 6px;
  background-color: #5f5b53;
  border-radius: 50%;
}
.blog .dot-hight .dot:nth-of-type(2) {
  background-color: #ffb900;
}
.blog-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-main .blog-header {
  width: 448px;
  height: 120px;
}
.blog-main .blog-header h2 {
  font-family: Sen;
  color: #130606;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.blog-main .blog-header p {
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.blog-main .blog-list {
  display: flex;
  margin-top: 55px;
}
.blog-list .blog-item {
  margin-right: 30px;
}
.blog-list .blog-item .blog-img > img {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blog-item .blog-decs {
  padding: 20px 20px 28px 20px;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 16px 32px 0px #0000000d;
}
.blog-item .blog-decs p {
  position: relative;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.blog-item .blog-decs p::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffb900;
  top: 10px;
  left: -10px;
}
.blog-item .blog-decs p::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  top: 32px;
  left: -10px;
  background-color: #e2dfda;
}
.blog-item .blog-decs h3 {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  margin-top: 12px;
}
.blog-decs .action .btn-blog {
  display: inline-block;
  background: #ffb900;
  padding: 12px 21px;
  margin-top: 12px;
}
/* Footer */
.footer {
  background: #2e2100;
}
.footer .footer-main {
  position: relative;
  display: flex;
  margin-top: 96px;
  padding-top: 96px;
  padding-bottom: 28px;
}
.footer .footer-main::after {
  position: absolute;
  content: "";
  width: 1170px;
  height: 1px;
  background-color: #59554b;
  bottom: 38px;
}
.footer-main p {
  width: 267px;
  height: 78px;
  margin-top: 18px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.footer-main .footer-media {
  display: flex;
  justify-content: space-evenly;
  width: 111px;
  height: 15px;
  margin-top: 18px;
  margin-left: -10px;
}
.footer-list {
  display: flex;
  margin-left: 145px;
}
.footer-list .footer-item h3 {
  position: relative;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
}
.footer-list .footer-item .footer-ul {
  margin-top: 28px;
}
.footer-list .footer-item h3::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 130px;
  height: 1px;
  background-color: #59554b;
  top: 38px;
  left: 0px;
}
.footer-logo,
.footer-list {
  flex: 1;
}
.footer-list .footer-item {
  margin-right: 3px;
}
.footer-list .footer-item ul > li {
  width: 231px;
  height: 52px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #bfbcb2;
}
.footer-item ul li > span {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.footer .copy p {
  color: #807d74;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 28px;
}
