* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.content {
  max-width: calc(100% - 270px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* Commit */
a {
  text-decoration: none;
}
.btn {
  padding: 12px 24px;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 999px;
  background-color: #171100;
}
.master {
  height: 10000px;
}
.header.fixed {
  position: sticky;
  top: -32px;
  z-index: 1;
}
/* ####HEADER### */
.header {
  background-color: #fffcf4;
}
.navbar {
  padding-top: 64px;
  padding-bottom: 32px;
}
.header .navbar {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav li {
  padding: 0 21px;
}
.nav li:hover > a:not(.font) {
  color: #333;
  font-weight: 600;
}
.nav li > a {
  color: #5f5b53;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.navbar li .font {
  position: relative;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  color: #171100;
}
.navbar li .font::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
  bottom: 0;
}
.btn-header {
  padding: 11px 41px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 49px;
}
.btn-header:hover {
  opacity: 0.6;
}
/* Hero */
.hero {
  padding-top: 32px;
  padding-bottom: 65px;
  background-color: #fffcf4;
}
.hero .hero-main {
  display: flex;
}
.hero-left,
.hero-right {
  flex: 1;
}
.hero-left {
  padding-right: 130px;
}
.hero-left .media-img > img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero-left .media-img {
  position: relative;
}
.hero-left .hero-summary {
  position: absolute;
  background-color: #ffffff;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  bottom: 48px;
  left: 300px;
  padding: 24px 63px 24px 24px;
}
.hero-left .hero-summary .item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.hero-left .hero-summary .icon {
  margin-right: 16px;
}
.hero-left .hero-summary .info > p {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.hero-left .hero-summary .info > h2 {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
.hero-main .hero-right {
  padding-top: 80px;
}
.hero-main .hero-right .title {
  font-family: Sen;
  color: #171100;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.02em;
  margin-bottom: 22px;
}
.hero-main .hero-right p {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  margin-bottom: 38px;
}
.hero-main .hero-right .action {
  display: flex;
  align-items: center;
}
.hero-right .action .btn-hero {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fffcf4;
  cursor: pointer;
}
.hero-right .action .btn-y {
  padding: 17px 33px;
  border-radius: 32px;
  background-color: #ffb900;
}
.hero-right .action .btn-y > span {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.hero-right .action .btn-hero > span {
  display: inline-block;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-right .action .btn-hero > img {
  transform: translateY(10%);
}
.hero-right .Recent {
  margin-top: 48px;
  margin-bottom: 0 !important;
}
.hero-right .strong {
  display: flex;
}
.hero-right .strong > p > strong {
  font-family: Sen;
  color: #171100;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
}
